@page "/admin/addauthor"
@model AdminAddAuthorModel
@{
    ViewData["Title"] = "افزودن نویسنده جدید";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<!-- AddAuthor -->
<section class="last-news-section border-radius">
    <header><i class="fa fa-book adminicon"></i>  <h3>افزودن نویسنده جدید</h3> </header>
    <ul>
        <li>
            <form method="post" enctype="multipart/form-data" class="form-group" id="AddNewArticel">
                <label asp-for="AuthorModel.AuthorName"></label>
                <input asp-for="AuthorModel.AuthorName" class="form-control" />
                <span asp-validation-for="AuthorModel.AuthorName" class="text-danger displayblock"></span>
                <label asp-for="AuthorModel.AuthorImageUrl" class="margin-top-20"></label>
                <input type="file" name="authorImage" class="form-control" />
                <span asp-validation-for="AuthorModel.AuthorImageUrl" class="text-danger displayblock"></span>
                <label asp-for="AuthorModel.AuthorShortDescription" class="margin-top-20"></label>
                <input asp-for="AuthorModel.AuthorShortDescription" class="form-control" />
                <span asp-validation-for="AuthorModel.AuthorShortDescription" class="text-danger displayblock"></span>
                <label asp-for="AuthorModel.AuthorBirthday" class="margin-top-20"></label>
                <input asp-for="AuthorModel.AuthorBirthday" class="form-control" />
                <span asp-validation-for="AuthorModel.AuthorBirthday" class="text-danger displayblock"></span>
                <div class="row margin-top-20 centertext">
                    <div class="col-xs-12 col-md-12"><button asp-page-handler="AddAuthor" name="AddNewArticel" value="AddNewArticel" type="submit" class="bggreen actionIcon articelactionicon"> <i class="fa fa-check actionIcon2"></i>منتشر شود</button></div>
                </div>
            </form>
        </li>
    </ul>
</section>
<!-- End AddAuthor -->
