@page
@model RegisterModel
@{
    ViewData["Title"] = "افزودن ادمین جدید";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="kadre-safehat">
    <div class="user-login-div"><h2 class="changepass bggreen text-center">@ViewData["Title"]</h2></div>
    <div class="row">
        <div class="col-12 margin-top-30">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="user-login-div"><button type="submit" class="btn btn-lg addbtnaction txtwhite">اضافه کردن ادمین جدید</button></div>
            </form>
        </div>
    </div>
</div>